body {
    align-items: center;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}


.input-group {
    margin-bottom: 10px;
}

/* Add shades to container for depth */
.container {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.container:focus {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1rem;
}

.card {
    border-radius: 0;
}

.min-vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}
