/* Reset some basic elements */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* General button styling */
.button {
  background-color: #D4AF37;
  /* Gold color */
  border: none;
  color: #000;
  /* Black color */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #C5A358;
  /* Darker gold color */
  color: white;
}

/* General container styling */
.container {
  background-color: #8B4513;
  /* Deep brown color */
  color: #D4AF37;
  /* Gold color */
}

/* Styling for Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia', serif;
  color: #D4AF37;
  /* Gold color */
}

/* Styling for Paragraphs */
p {
  color: #000;
  /* Black color */
}

/* Styling for links */
a {
  color: #D4AF37;
  /* Gold color */
}

a:hover {
  color: #C5A358;
  /* Darker gold color */
}